h1 {
  border-bottom: 2px solid #bdbdbd;
  text-align: center;
}

h2 {
  display: inline-block;
  border-bottom: 2px solid #bdbdbd;
  height: 1.1em;
}

small {
  font-size: 75%;
  color: #616161;
}

section {
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
}

section article {
  margin: 0 0 1rem 1rem;
  border-bottom: 1px solid #dbdbdb;
}

section:last-of-type,
section article:last-of-type {
  border: none;
}