.place-grid-row {
  display: flex;
}

.place-grid-item {
  width: 8px;
  height: 8px;
  margin: 0;
}

.place-grid-item:hover,
#colors span:hover {
  box-shadow: 0 0 4px 4px #000;
  z-index: 10;
  border: 1px solid #fff;
}

#color-picker {
  display: none;
}

#colors span {
  height: 8px;
  width: 8px;
  display: inline-block;
}

#colors span:last-of-type {
  width: 16px;
}

#colors div {
  display: flex;
}