html,
body {
  margin: 0;
  font-size: 18px;
  color: #333;
}

body {
  padding-top: 64px;
}

/* font icons */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?4utuu7');
  src: url('fonts/icomoon.eot?4utuu7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4utuu7') format('truetype'),
    url('fonts/icomoon.woff?4utuu7') format('woff'),
    url('fonts/icomoon.svg?4utuu7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-random:before {
  content: '\e900';
}
.icon-dice:before {
  content: '\e915';
}

/* END Font icons */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #777;
  font-family: sans-serif;
}

nav ul li a:hover {
  color: #333;
}

nav ul li a.active {
  background-color: rgba(0, 0, 0, 0.095);
}

.nav-avatar {
  padding: 0;
}

.nav-avatar img {
  display: block;
}

.nav-random {
  float: right;
}

.nav-random button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 21px;
  color: #777;
  cursor: pointer;
  outline: none;
}

.nav-random:hover button {
  color: #333;
}
