h1 {
  border-bottom: 2px solid #bdbdbd;
  text-align: center;
}

blockquote {
  font-style: italic;
  line-height: 1.5rem;
  margin: 0 0 0.5rem;
}

blockquote cite {
  font-size: 0.8rem;
  display: block;
}

blockquote cite:before {
  content: '\2014 \2009';
}
